# dependencies
/node_modules
/.pnpm-store

# next.js build output
/.next/
/out/

# production
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files & secret keys
.env*.local
.env
Dbase details/

# large image export assets
voxpolis-logo-kit/voxpolis-logo-kit/exports/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS metadata
.DS_Store
Thumbs.db

# scratch
scratch/
